* {
  margin: 0;
  padding: 0; }

#margen {
  margin: 0;
  padding: 0; }

#header {
  background-color: #f5e6d7;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid black 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px;
      transform: translate(1.1, 1.1px); }
    .maslogos button p {
      font-size: 20px;
      margin: 4px 0px 6px 5px;
      color: black; }

.padre {
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center; }
  .padre .cuadrado-fondo {
    background-color: black;
    height: 300px;
    margin-top: 50px;
    transition: background-color 0.3s ease; }
    .padre .cuadrado-fondo:hover {
      background-color: #bb7518; }
    .padre .cuadrado-fondo .contenedor-tarjeta {
      background-color: #f1eded;
      height: 100%;
      position: relative;
      right: 15px;
      bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .padre .cuadrado-fondo .contenedor-tarjeta .contenedor-imagen {
        background-color: red;
        height: 80%;
        border-radius: 80%; }
      .padre .cuadrado-fondo .contenedor-tarjeta .contenedor-parrafo {
        text-align: center;
        color: black;
        font-size: 18px;
        margin-left: 20px; }

.contenedor-tarjetas {
  background-color: #ebe6e6;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .contenedor-tarjetas .tarjeta {
    border-radius: 15px;
    height: 600px;
    background-color: #262626;
    transition-duration: 1s;
    display: flex;
    flex-direction: column; }
    .contenedor-tarjetas .tarjeta .contenedor-imagen {
      height: 200px;
      width: 100%; }
    .contenedor-tarjetas .tarjeta .titulo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      height: 80px; }
    .contenedor-tarjetas .tarjeta .parrafo-tarjeta {
      color: white;
      height: 300px;
      width: 100%;
      background-color: #333333;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      align-items: center; }
      .contenedor-tarjetas .tarjeta .parrafo-tarjeta p {
        margin-left: 10px; }
    .contenedor-tarjetas .tarjeta:hover {
      box-shadow: 4px 4px 10px #3a3939;
      border: solid 1px #bb7518; }

.contFut-grande-mapa {
  height: 500px;
  display: flex;
  justify-content: center; }
  .contFut-grande-mapa h1 {
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center; }
  .contFut-grande-mapa .linea {
    width: 70%;
    height: 3px;
    background-color: black;
    border-radius: 50px; }
  .contFut-grande-mapa .contfut-mapa {
    height: 500px;
    display: flex;
    justify-content: center; }
    .contFut-grande-mapa .contfut-mapa iframe {
      width: 80%; }

@media screen and (max-width: 1023px) {
  .padre {
    height: 800px; }
    .padre .cuadrado-fondo {
      min-height: 700px; }
      .padre .cuadrado-fondo .contenedor-tarjeta {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }
        .padre .cuadrado-fondo .contenedor-tarjeta .contenedor-parrafo {
          margin-top: 20px; }
        .padre .cuadrado-fondo .contenedor-tarjeta .contenedor-imagen {
          margin-top: 10px;
          width: 300px;
          height: 300px; }
  .tarjeta1 {
    margin-top: 20px; }
  .tarjeta2 {
    margin-top: 20px; }
  .tarjeta3 {
    margin-top: 20px; }
  .contenedor-tarjetas {
    height: 2200px;
    display: flex;
    flex-wrap: wrap; }
    .contenedor-tarjetas .tarjeta {
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column; }
      .contenedor-tarjetas .tarjeta .contenedor-imagen {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center; } }
