@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Griffy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Griffy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0; }

/* Header */
#header {
  background-color: white;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px;
    margin: 3px 0px 3px 0px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #0e788d85 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px; }
    .maslogos button a {
      display: flex;
      text-decoration: none;
      align-items: center; }
    .maslogos button p {
      font-size: 16px;
      margin: 4px 0px 6px 5px;
      color: black; }

/* Responsive */
@media screen and (max-width: 1023px) {
  .logoP img, .maslogos img {
    width: 150px;
    height: 150px; }
  .logoP h1, .maslogos h1 {
    font-size: 26px; }
  .maslogos img {
    width: 30px;
    height: 30px; }
  .maslogos button p {
    font-size: 12px; } }

* {
  padding: 0;
  margin: 0; }

footer {
  background: #343434;
  padding-top: 50px; }

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center; }

.footer-content {
  width: 33.5%; }

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center; }

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px; }

.footer-content ul {
  text-align: center; }

.list {
  padding: 0; }

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative; }

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s; }

.list li:hover::before {
  width: 70px; }

.social-icons {
  text-align: center;
  padding: 0; }

.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 25px; }

.social-icons i {
  color: #af3232;
  padding: 25px; }

.a-footer {
  text-decoration: none; }

.a-footer:hover {
  color: #f18930; }

.social-icons i:hover {
  color: #f18930; }

.bottom-bar {
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px; }

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px; }

* {
  padding: 0;
  margin: 0; }

/* Header */
#header {
  background-color: white;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px;
    margin: 3px 0px 3px 0px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #0e788d85 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px; }
    .maslogos button a {
      display: flex;
      text-decoration: none;
      align-items: center; }
    .maslogos button p {
      font-size: 16px;
      margin: 4px 0px 6px 5px;
      color: black; }

/* Responsive */
@media screen and (max-width: 1023px) {
  .logoP img, .maslogos img {
    width: 150px;
    height: 150px; }
  .logoP h1, .maslogos h1 {
    font-size: 26px; }
  .maslogos img {
    width: 30px;
    height: 30px; }
  .maslogos button p {
    font-size: 12px; } }

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif; }

#margen {
  padding: 0;
  margin: 0; }

.contenedorTe-grande-tenis {
  background-color: #f3f3f3;
  transition: box-shadow 1s ease;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .contenedorTe-grande-tenis .contenedorTe-imagen-tenis {
    background-color: red;
    height: 90%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .contenedorTe-grande-tenis .contenedorTe-imagen-tenis img {
      object-fit: cover;
      transition: transform 0.3s ease; }
      .contenedorTe-grande-tenis .contenedorTe-imagen-tenis img:hover {
        transform: scale(1.2); }
  .contenedorTe-grande-tenis .contenedorTe-text-tenis {
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
    .contenedorTe-grande-tenis .contenedorTe-text-tenis .tituloTe-tenis {
      margin-top: 20px;
      height: 50px;
      display: flex;
      justify-content: center; }
      .contenedorTe-grande-tenis .contenedorTe-text-tenis .tituloTe-tenis h1 {
        font-size: 35px;
        color: black; }
    .contenedorTe-grande-tenis .contenedorTe-text-tenis .contenedorTe-linea {
      height: 5px;
      display: flex;
      justify-content: center; }
      .contenedorTe-grande-tenis .contenedorTe-text-tenis .contenedorTe-linea .lineaTe {
        height: 5px;
        background-color: black;
        border-radius: 10px;
        width: 80%; }
    .contenedorTe-grande-tenis .contenedorTe-text-tenis .parrafoTe-tenis {
      color: black;
      height: auto;
      text-align: center;
      margin-top: 80px; }
      .contenedorTe-grande-tenis .contenedorTe-text-tenis .parrafoTe-tenis p {
        font-size: 20px;
        color: black; }
  .contenedorTe-grande-tenis:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }

.contenedorTe-mejoras-imagnes {
  height: 650px;
  display: flex;
  flex-direction: row;
  transition: box-shadow 1s ease; }
  .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imagenes/fondoTe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila {
      height: 216.5px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras {
        height: 70%;
        display: flex;
        flex-direction: column;
        border: solid 1px black;
        transition: box-shadow 1s ease;
        background-color: white; }
        .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras .contenedorTe-titulo-mejoras {
          height: 30px;
          background-color: #74b1f7;
          display: flex;
          justify-content: center;
          align-items: center; }
          .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras .contenedorTe-titulo-mejoras h1 {
            color: white;
            font-size: 17px; }
        .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras .contenedorTe-text-mejoras {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%; }
          .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras .contenedorTe-text-mejoras .parrafoTe-mejoras {
            height: 100%; }
            .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras .contenedorTe-text-mejoras .parrafoTe-mejoras p {
              color: black; }
        .contenedorTe-mejoras-imagnes .contenedorTe-fila-mejoras .contenedorTe-fila .contenedorTe-mejoras:hover {
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
  .contenedorTe-mejoras-imagnes .contenedorColumnas {
    display: flex; }
  .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px; }
    .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card1-mejoras {
      display: flex;
      height: 200px;
      width: 80%;
      background-image: url(../assets/imagenes/reduceelestres.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
      transition: box-shadow 1s ease; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card1-mejoras .contenedorTe-num-mejoras {
        background-color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 50%; }
        .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card1-mejoras .contenedorTe-num-mejoras h1 {
          align-items: center;
          color: black; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card1-mejoras:hover {
        filter: saturate(200%);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
    .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card2-mejoras {
      display: flex;
      height: 200px;
      width: 80%;
      background-image: url(../assets/imagenes/fortalecimientomuscularTe.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
      transition: box-shadow 1s ease; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card2-mejoras .contenedorTe-num-mejoras {
        background-color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 50%; }
        .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card2-mejoras .contenedorTe-num-mejoras h1 {
          align-items: center;
          color: black; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna1-mejoras .contenedorTe-columna1-card2-mejoras:hover {
        filter: saturate(200%);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
  .contenedorTe-mejoras-imagnes .contenedorTe-columna2-mejoras {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center; }
    .contenedorTe-mejoras-imagnes .contenedorTe-columna2-mejoras .contenedorTe-columna2-card-mejoras {
      display: flex;
      height: 200px;
      width: 80%;
      background-image: url(../assets/imagenes/mejoradeequilibrioTe.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
      transition: box-shadow 1s ease; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna2-mejoras .contenedorTe-columna2-card-mejoras .contenedorTe-num-mejoras {
        background-color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 50%; }
        .contenedorTe-mejoras-imagnes .contenedorTe-columna2-mejoras .contenedorTe-columna2-card-mejoras .contenedorTe-num-mejoras h1 {
          align-items: center;
          color: black; }
      .contenedorTe-mejoras-imagnes .contenedorTe-columna2-mejoras .contenedorTe-columna2-card-mejoras:hover {
        filter: saturate(200%);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
  .contenedorTe-mejoras-imagnes:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }

/* mapa */
.contenedorTe-mapa {
  height: 500px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 1s ease; }
  .contenedorTe-mapa iframe {
    width: 80%;
    height: 80%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
  .contenedorTe-mapa:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 1023px) {
  .contenedorTe-grande-tenis {
    margin-bottom: 500px; }
  .contenedorTe-mapa {
    margin-top: 600px; } }

* {
  padding: 0;
  margin: 0; }

/* Header */
#header {
  background-color: white;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px;
    margin: 3px 0px 3px 0px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #0e788d85 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px; }
    .maslogos button a {
      display: flex;
      text-decoration: none;
      align-items: center; }
    .maslogos button p {
      font-size: 16px;
      margin: 4px 0px 6px 5px;
      color: black; }

/* Responsive */
@media screen and (max-width: 1023px) {
  .logoP img, .maslogos img {
    width: 150px;
    height: 150px; }
  .logoP h1, .maslogos h1 {
    font-size: 26px; }
  .maslogos img {
    width: 30px;
    height: 30px; }
  .maslogos button p {
    font-size: 12px; } }

* {
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

.padre1 {
  justify-content: space-between;
  display: flex;
  text-align: center;
  background: #FF7F32; }

.Malone {
  background-color: #FF4500;
  margin-left: 20px; }

.Barkley {
  background-color: #FF4500;
  margin-left: 10px; }

.Jonh {
  background-color: #FF4500;
  margin-left: 40px; }

.marco-bas {
  margin: auto; }

.container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg); }

.carrusel {
  height: 250px;
  width: 250px; }

/*.card{
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;


}

.car__head{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    background: #ff1eadbf;
    color: black;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 1em;
    white-space: nowrap;
}

.card img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

.card:not(:nth-child(5)){
    margin-right: 1em;
}

.card:hover{
    flex-grow: 10;
}

.card:hover img{
    filter: grayscale(0);
}

.card:hover .card__head{
    text-align: center;
    top: calc(100% - 2em);
    background: #00000080;
    color: white;
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

h1{
    font-size: 10px;
    text-align: center;
}*/
footer {
  background: #343434;
  padding-top: 50px; }

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center; }

.footer-content {
  width: 33.5%; }

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center; }

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px; }

.footer-content ul {
  text-align: center; }

.list {
  padding: 0; }

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative; }

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s; }

.list li:hover::before {
  width: 70px; }

.social-icons {
  text-align: center;
  padding: 0; }

.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 25px; }

.social-icons i {
  color: #af3232;
  padding: 25px; }

.a-footer {
  text-decoration: none; }

.a-footer:hover {
  color: #f18930; }

.social-icons i:hover {
  color: #f18930; }

.bottom-bar {
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px; }

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px; }

* {
  padding: 0;
  margin: 0; }

/* Header */
#header {
  background-color: white;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px;
    margin: 3px 0px 3px 0px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #0e788d85 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px; }
    .maslogos button a {
      display: flex;
      text-decoration: none;
      align-items: center; }
    .maslogos button p {
      font-size: 16px;
      margin: 4px 0px 6px 5px;
      color: black; }

/* Responsive */
@media screen and (max-width: 1023px) {
  .logoP img, .maslogos img {
    width: 150px;
    height: 150px; }
  .logoP h1, .maslogos h1 {
    font-size: 26px; }
  .maslogos img {
    width: 30px;
    height: 30px; }
  .maslogos button p {
    font-size: 12px; } }

* {
  padding: 0;
  margin: 0; }

footer {
  background: #343434;
  padding-top: 50px; }

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center; }

.footer-content {
  width: 33.5%; }

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center; }

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px; }

.footer-content ul {
  text-align: center; }

.list {
  padding: 0; }

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative; }

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s; }

.list li:hover::before {
  width: 70px; }

.social-icons {
  text-align: center;
  padding: 0; }

.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 25px; }

.social-icons i {
  color: #af3232;
  padding: 25px; }

.a-footer {
  text-decoration: none; }

.a-footer:hover {
  color: #f18930; }

.social-icons i:hover {
  color: #f18930; }

.bottom-bar {
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px; }

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px; }

body {
  background-color: #f0f0f0; }

.nutricion {
  width: 100%;
  height: 500px;
  background-color: #2e5a41;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nutricion .nutricion-info {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    background-color: seagreen;
    transition: transform 0.3s ease; }
    .nutricion .nutricion-info h1 {
      font-size: 40px;
      color: #ffffff; }
    .nutricion .nutricion-info p {
      margin-top: 20px;
      color: #ffffff;
      text-align: start; }
    .nutricion .nutricion-info:hover {
      transform: scale(1.1); }
  .nutricion .nutricion-carrousel img {
    height: 400px;
    border-radius: 25px; }

.tarjetas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 30px; }
  .tarjetas .tarjetas-titulo {
    margin: 50px 0px 50px 0px;
    text-align: center; }
    .tarjetas .tarjetas-titulo h2 {
      font-size: 35px; }
  .tarjetas .tarjetas-tarjeta {
    height: 400px; }
    .tarjetas .tarjetas-tarjeta img {
      margin-top: 10px;
      height: 40%; }

#margen-dietas, #margen-rutinas {
  margin: 0;
  padding: 0; }

.dietas, .rutinas {
  overflow-x: hidden;
  height: 1750px;
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: center; }
  .dietas .dietas-info, .rutinas .dietas-info, .rutinas .rutinas-info {
    margin: 50px 0px -100px 0px;
    height: 300px;
    display: flex; }
    .dietas .dietas-info .dietas-info-pez, .rutinas .dietas-info .dietas-info-pez, .rutinas .rutinas-info .dietas-info-pez, .rutinas .rutinas-info .rutinas-info-img1 {
      height: 500px; }
      .dietas .dietas-info .dietas-info-pez img, .rutinas .dietas-info .dietas-info-pez img, .rutinas .rutinas-info .dietas-info-pez img, .rutinas .rutinas-info .rutinas-info-img1 img {
        height: 100%;
        transform: translateX(-300px) translateY(40px) rotate(45deg); }
    .dietas .dietas-info .dietas-info-tituyparraf, .rutinas .dietas-info .dietas-info-tituyparraf, .rutinas .rutinas-info .dietas-info-tituyparraf, .rutinas .rutinas-info .rutinas-info-tituyparraf {
      z-index: 2;
      text-align: center;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .dietas .dietas-info .dietas-info-tituyparraf h2, .rutinas .dietas-info .dietas-info-tituyparraf h2, .rutinas .rutinas-info .dietas-info-tituyparraf h2, .rutinas .rutinas-info .rutinas-info-tituyparraf h2 {
        margin: 50px; }
  .dietas .dietas-recetas, .rutinas .dietas-recetas, .dietas .dietas-recetas-2, .rutinas .dietas-recetas-2, .rutinas .rutinas-instrucciones, .rutinas .rutinas-instrucciones-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px; }
    .dietas .dietas-recetas img, .rutinas .dietas-recetas img, .dietas .dietas-recetas-2 img, .rutinas .dietas-recetas-2 img, .rutinas .rutinas-instrucciones img, .rutinas .rutinas-instrucciones-2 img {
      transform: translateX(-60px) translateY(40px) rotate(-50deg); }
    .dietas .dietas-recetas .dietas-recetas-receta, .rutinas .dietas-recetas .dietas-recetas-receta, .dietas .dietas-recetas-2 .dietas-recetas-receta, .rutinas .dietas-recetas-2 .dietas-recetas-receta, .rutinas .rutinas-instrucciones .dietas-recetas-receta, .rutinas .rutinas-instrucciones-2 .dietas-recetas-receta, .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso {
      display: flex;
      flex-direction: column;
      height: 600px;
      background-color: seagreen;
      border-radius: 25px;
      justify-content: center;
      text-align: center;
      border: 4px solid white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }
      .dietas .dietas-recetas .dietas-recetas-receta h3, .rutinas .dietas-recetas .dietas-recetas-receta h3, .dietas .dietas-recetas-2 .dietas-recetas-receta h3, .rutinas .dietas-recetas-2 .dietas-recetas-receta h3, .rutinas .rutinas-instrucciones .dietas-recetas-receta h3, .rutinas .rutinas-instrucciones-2 .dietas-recetas-receta h3, .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso h3, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso h3 {
        margin-bottom: 30px;
        color: white; }
      .dietas .dietas-recetas .dietas-recetas-receta p, .rutinas .dietas-recetas .dietas-recetas-receta p, .dietas .dietas-recetas-2 .dietas-recetas-receta p, .rutinas .dietas-recetas-2 .dietas-recetas-receta p, .rutinas .rutinas-instrucciones .dietas-recetas-receta p, .rutinas .rutinas-instrucciones-2 .dietas-recetas-receta p, .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso p, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso p {
        text-align: start;
        margin: 0px 30px 0px 30px; }
        .dietas .dietas-recetas .dietas-recetas-receta p strong, .rutinas .dietas-recetas .dietas-recetas-receta p strong, .dietas .dietas-recetas-2 .dietas-recetas-receta p strong, .rutinas .dietas-recetas-2 .dietas-recetas-receta p strong, .rutinas .rutinas-instrucciones .dietas-recetas-receta p strong, .rutinas .rutinas-instrucciones-2 .dietas-recetas-receta p strong, .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso p strong, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso p strong {
          color: white; }
  .dietas .dietas-recetas-2 #img1, .rutinas .dietas-recetas-2 #img1 {
    transform: translateX(-320px) translateY(40px) rotate(100deg); }
  .dietas .dietas-recetas-2 #img2, .rutinas .dietas-recetas-2 #img2 {
    transform: translateX(-40px) translateY(90px) rotate(0deg); }

.rutinas .rutinas-info .rutinas-info-img1 img {
  height: 100%;
  transform: translateX(-300px) translateY(40px) rotate(0deg); }

.rutinas .rutinas-info .rutinas-info-tituyparraf h2 {
  margin: 50px; }

.rutinas .rutinas-instrucciones img, .rutinas .rutinas-instrucciones-2 img {
  transform: translateX(-60px) translateY(40px) rotate(20deg); }

.rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso {
  height: 650px;
  background-color: #3e3ea1; }
  .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso li, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso li {
    margin: 0px 10px 0px 50px;
    text-align: start; }
  .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso h3, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso h3 {
    margin-bottom: 30px;
    color: white; }
  .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso p, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso p {
    text-align: start;
    margin: 0px 30px 0px 30px; }
    .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso p strong, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso p strong {
      color: white; }

.rutinas .rutinas-instrucciones-2 #img1 {
  transform: translateX(-320px) translateY(40px) rotate(40deg); }

.rutinas .rutinas-instrucciones-2 #img2 {
  transform: translateX(-40px) translateY(90px) rotate(-70deg); }

#margen-ubicacion {
  margin: 0;
  padding: 0; }

.ubicacion {
  height: 650px;
  display: flex;
  justify-content: center; }
  .ubicacion .ubicacion-info {
    margin-top: 0px;
    width: 80%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .ubicacion .ubicacion-contenedor {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid lightblue;
    border-radius: 25px; }
    .ubicacion .ubicacion-contenedor iframe {
      width: 95%;
      border-radius: 25px; }

@media screen and (max-width: 1023px) {
  /*NUTRICION INFO PRINC*/
  .nutricion {
    height: 550px; }
    .nutricion .nutricion-info {
      display: block;
      height: 225px;
      text-align: center; }
      .nutricion .nutricion-info h1 {
        font-size: 28px; }
      .nutricion .nutricion-info p {
        text-align: center; }
    .nutricion .nutricion-carrousel img {
      height: 250px; }
  /*DIETAS*/
  .dietas, .rutinas {
    height: 3300px; }
    .dietas .dietas-info .dietas-info-pez img, .rutinas .dietas-info .dietas-info-pez img, .rutinas .rutinas-info .dietas-info-pez img, .rutinas .rutinas-info .rutinas-info-img1 img {
      height: 1px; }
    .dietas .dietas-recetas, .rutinas .dietas-recetas, .dietas .dietas-recetas-2, .rutinas .dietas-recetas-2, .rutinas .rutinas-instrucciones, .rutinas .rutinas-instrucciones-2 {
      display: block; }
      .dietas .dietas-recetas img, .rutinas .dietas-recetas img, .dietas .dietas-recetas-2 img, .rutinas .dietas-recetas-2 img, .rutinas .rutinas-instrucciones img, .rutinas .rutinas-instrucciones-2 img {
        height: 1px; }
      .dietas .dietas-recetas .dietas-recetas-receta, .rutinas .dietas-recetas .dietas-recetas-receta, .dietas .dietas-recetas-2 .dietas-recetas-receta, .rutinas .dietas-recetas-2 .dietas-recetas-receta, .rutinas .rutinas-instrucciones .dietas-recetas-receta, .rutinas .rutinas-instrucciones-2 .dietas-recetas-receta, .rutinas .rutinas-instrucciones .rutinas-instrucciones-pasoapaso, .rutinas .rutinas-instrucciones-2 .rutinas-instrucciones-pasoapaso {
        height: 650px; }
    .dietas .dietas-recetas-2 #img1, .rutinas .dietas-recetas-2 #img1 {
      height: 1px; }
    .dietas .dietas-recetas-2 #img2, .rutinas .dietas-recetas-2 #img2 {
      height: 1px; } }

* {
  padding: 0;
  margin: 0; }

/* Header */
#header {
  background-color: white;
  margin: 0;
  padding: 0; }

.logoP, .maslogos {
  display: flex;
  align-items: center; }
  .logoP img, .maslogos img {
    width: 180px;
    height: 180px; }

.maslogos {
  justify-content: space-around; }
  .maslogos img {
    width: 40px;
    height: 40px;
    margin: 3px 0px 3px 0px; }
  .maslogos .menu {
    width: 130px;
    height: 60px; }
  .maslogos button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #0e788d85 1px; }
    .maslogos button:hover {
      background: linear-gradient(to right, #0e788d85, #19ffff98);
      border: solid #25645a 1px; }
    .maslogos button a {
      display: flex;
      text-decoration: none;
      align-items: center; }
    .maslogos button p {
      font-size: 16px;
      margin: 4px 0px 6px 5px;
      color: black; }

/* Responsive */
@media screen and (max-width: 1023px) {
  .logoP img, .maslogos img {
    width: 150px;
    height: 150px; }
  .logoP h1, .maslogos h1 {
    font-size: 26px; }
  .maslogos img {
    width: 30px;
    height: 30px; }
  .maslogos button p {
    font-size: 12px; } }

.Ho-cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../assets/imagenes/hockeyfondo.png) no-repeat center center fixed;
  background-size: cover;
  border-top: 1px solid #0e788d85; }

.Ho-contHijo1 {
  display: flex;
  width: 52%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  margin: 50px 0px 30px 10px;
  box-shadow: 1px 1px 5px 1px white;
  border-radius: 10px;
  text-align: center; }
  .Ho-contHijo1 h2 {
    margin: 10px 0px 0px 0px;
    color: white;
    text-shadow: 2px 2px 2px black; }
  .Ho-contHijo1 p {
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black; }

/* Puntos de Actividad */
.contFut-grande-mapaHo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px 0px 0px;
  backdrop-filter: blur(50px); }
  .contFut-grande-mapaHo h1 {
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px; }
  .contFut-grande-mapaHo .lineaHo {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 30px; }
  .contFut-grande-mapaHo .contfut-mapaHo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px 0px 60px 0px; }
    .contFut-grande-mapaHo .contfut-mapaHo iframe {
      width: 100%; }

/*IMPORTANTE: TARJETA NUEVA SCSS*/
.contCardHo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px 0px 30px 0px; }

.cardHo {
  width: 350px;
  height: 350px;
  border: 2px solid rgba(235, 235, 235, 0.35);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  color: white;
  background: rgba(187, 205, 189, 0.25);
  transition: all 0.8s ease;
  overflow: hidden;
  height: auto;
  max-height: 200px; }
  .cardHo:hover {
    max-height: 500px;
    background: rgba(187, 205, 189, 0.55); }
    .cardHo:hover .texto {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
  .cardHo .containerHo {
    position: relative; }
    .cardHo .containerHo .texto {
      padding: 1em;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: opacity 0.8s ease, visibility 0.8s ease, transform 0.8s ease; }
      .cardHo .containerHo .texto .texto-explicativo {
        margin-top: 0.5em; }
    .cardHo .containerHo img {
      max-width: 100%;
      height: 200px;
      object-fit: cover;
      height: auto;
      border-radius: 20px; }

/* Beneficios */
.tarjeta {
  display: flex;
  background-color: #444;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 450px;
  /* Ampliamos el ancho de la tarjeta */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  /* Animación para la expansión */ }
  .tarjeta .tarjeta-imagen {
    width: 150px;
    object-fit: cover; }
  .tarjeta .tarjeta-contenido {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; }
    .tarjeta .tarjeta-contenido .tarjeta-titulo {
      font-size: 1.25rem;
      margin: 0;
      transition: transform 0.3s ease-in-out;
      /* Animación para el título */ }
    .tarjeta .tarjeta-contenido .tarjeta-descripcion {
      font-size: 0.875rem;
      margin: 8px 0;
      color: #ccc; }
  .tarjeta:hover {
    transform: scale(1.05);
    /* Agrandar la tarjeta cuando se pasa el mouse */ }
  .tarjeta:hover .tarjeta-contenido .tarjeta-titulo {
    transform: translateY(-5px);
    /* El título se mueve ligeramente hacia arriba */ }

@media screen and (max-width: 1023px) {
  .contCardHo {
    flex-direction: column; }
  .Ho-contHijo1 {
    width: 80%;
    height: 100%; }
  .Ho-contcolum {
    flex-direction: column;
    align-items: center; } }

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ }

#body {
  background: gray; }

/*link a deportes1*/
/*.link{

    .link-1{
        height: 200px;
        width: 100%;
        background-color: #1f1f1f;
        display: flex;
        align-items: center;
        .link-imagenes{
            display: flex;
            justify-content: space-between;
            height: 150px;
            width: 25%;
            /*box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
            img{
                height: 150px;
                width: 150px;
                box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
            }
        }
    }
    .link-2{
        @extend .link-1;
        justify-content: start;
    }
    .link-3{
        @extend .link-1;
        justify-content: end;
    }
}*/
.titulo-princ, .quienessomos {
  overflow-x: hidden;
  width: 100%;
  height: 75px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .titulo-princ h1, .quienessomos h1 {
    color: white;
    transition: transform 0.3s ease, text-shadow 0.3s ease; }
    .titulo-princ h1:hover, .quienessomos h1:hover {
      transform: scale(1.1);
      text-shadow: 4px 4px 6px rgba(255, 221, 221, 0.7); }

.link {
  background-color: #1f1f1f;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .link .link-imagen-1 {
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-1 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-1:hover {
      transform: scale(1.5); }
  .link .link-imagen-2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-2 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-2:hover {
      transform: scale(1.5); }
  .link .link-imagen-3 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-3 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-3:hover {
      transform: scale(1.5); }
  .link .link-imagen-4 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-4 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-4:hover {
      transform: scale(1.5); }
  .link .link-imagen-5 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-5 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-5:hover {
      transform: scale(1.5); }
  .link .link-imagen-6 {
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease; }
    .link .link-imagen-6 img {
      height: 150px;
      width: 150px; }
    .link .link-imagen-6:hover {
      transform: scale(1.5); }
  .link .link-imagen-1 {
    box-shadow: 0 0 15px #8f3457; }
  .link .link-imagen-2 {
    box-shadow: 0 0 15px #0c9d96; }
  .link .link-imagen-3 {
    box-shadow: 0 0 15px #4c7d2b; }
  .link .link-imagen-4 {
    box-shadow: 0 0 15px #eb6b22; }
  .link .link-imagen-5 {
    box-shadow: 0 0 15px #d1261c; }
  .link .link-imagen-6 {
    box-shadow: 0 0 15px #f19f33; }

.linea {
  width: 100%;
  height: 75px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #1f1f1f, #878787); }
  .linea .linea-forma {
    background-color: lightgray;
    height: 5px;
    width: 80%; }

.cont-decoracion {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .cont-decoracion .imagen1 {
    height: 100px;
    width: 100px;
    margin: -50px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen1:hover {
      transform: rotate(30deg); }
  .cont-decoracion .imagen2 {
    height: 100px;
    width: 100px;
    margin: 45px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen2:hover {
      transform: rotate(30deg); }
  .cont-decoracion .imagen3 {
    height: 100px;
    width: 100px;
    margin: -40px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen3:hover {
      transform: rotate(30deg); }

#margen {
  margin: 0;
  padding: 0; }

/*quienes somos*/
.cont-info1, .quienessomos {
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #878787;
  text-align: center; }
  .cont-info1 h2, .quienessomos h2 {
    color: white;
    transition: transform 0.3s ease, text-shadow 0.3s ease; }
    .cont-info1 h2:hover, .quienessomos h2:hover {
      transform: scale(1.1);
      text-shadow: 4px 4px 6px rgba(255, 221, 221, 0.7); }
  .cont-info1 p, .quienessomos p {
    padding: 0 10% 0 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, text-shadow 0.3s ease; }
    .cont-info1 p:hover, .quienessomos p:hover {
      transform: scale(1.1);
      text-shadow: 4px 4px 6px rgba(255, 221, 221, 0.7); }

.cont-decoracion {
  background-color: #878787;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .cont-decoracion .imagen1 {
    height: 100px;
    width: 100px;
    margin: -50px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen1:hover {
      transform: rotate(30deg); }
  .cont-decoracion .imagen2 {
    height: 100px;
    width: 100px;
    margin: 45px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen2:hover {
      transform: rotate(30deg); }
  .cont-decoracion .imagen3 {
    height: 100px;
    width: 100px;
    margin: -40px 0px 0px 0px;
    transition: transform 0.5s ease; }
    .cont-decoracion .imagen3:hover {
      transform: rotate(30deg); }

/*.linea-2{
    @extend .linea;
}*/
.quienessomos {
  margin-top: 200px;
  overflow-x: hidden; }

@media screen and (max-width: 1023px) {
  .cont-info1, .quienessomos {
    height: 300px; }
    .cont-info1 h2, .quienessomos h2 {
      margin-bottom: 20px; }
  .link {
    height: 1000px; }
    .link .link-imagen-1 {
      margin-top: 20px; }
    .link .link-imagen-2 {
      margin-top: 20px; }
    .link .link-imagen-3 {
      margin-top: 20px; }
    .link .link-imagen-4 {
      margin-top: 20px; }
    .link .link-imagen-5 {
      margin-top: 20px; }
    .link .link-imagen-6 {
      margin-top: 20px; } }

/*PAGINA NUTRICION*/
