@import "menu";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Griffy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#margen{
    padding: 0;
    margin: 0;
}

.contenedorTe-grande-tenis{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .contenedorTe-imagen-tenis{
        background-color: red;
        height: 90%;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
        overflow: hidden;
        img{
            object-fit: cover;
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.2);
            }
        }   
        
    }
    .contenedorTe-text-tenis{
        height: 80%;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
        
        .tituloTe-tenis{
            margin-top: 20px;
            height: 50px;
            display: flex;
            justify-content: center;
            h1{
                font-size: 35px;
            }
        }
        .contenedorTe-linea{
            height: 5px;
            display: flex;
            justify-content: center;
            .lineaTe{
                height: 5px;
                background-color: black;
                border-radius: 10px;
                width: 80%;
            }
        }
        .parrafoTe-tenis{
            color: black;
            height: auto;
            text-align: center;
            margin-top: 80px;
            p{
                font-size: 20px;
            }
        }
        
    }
}

.contenedorTe-espacio-titulo{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    .tituloTe-espacio{
        color: black;
    }
}

.contenedorTe-mejoras-imagnes{
    height: 650px;
    display: flex;
    flex-direction: row;
    .contenedorTe-fila-mejoras{
        background-color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/imagenes/fondoTe.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .contenedorTe-fila{
            height: 216.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .contenedorTe-mejoras{
                height: 70%;
                display: flex;
                flex-direction: column;
                border: solid 1px black; 
                transition: box-shadow 1s ease;
                background-color: white;
                .contenedorTe-titulo-mejoras{
                    height: 30px;
                    background-color: rgb(116, 177, 247);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h1{
                        color: white;
                        font-size: 17px;
                    }
                }
                .contenedorTe-text-mejoras{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 80%;
                    .parrafoTe-mejoras{
                        height: 100%;
                        p{
                            color: black;
                        }
                    }
                }
                &:hover{
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
                    
                }

            }
        }
    }
    .contenedorTe-imagenes-mejoras{
        height: 100%;
        background-color: brown;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .contenedorTe-columna1-mejoras{
            height: 100%;
            background-color: green;
            display: flex;
            flex-direction: column;
            .contenedorTe-imagen1-mejoras{
                margin-top: 20px;
                height: 250px;
                background-color: blue;
                transition: box-shadow 2s ease;
                filter: grayscale(100%);
                .contenedorTe-num-mejoras{
                    background-color: white;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-radius: 50%;
                    h1{
                        align-items: center;
                    }
                }
                &:hover{
                    filter: saturate(200%);
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
                }
            }
            

            .contenedorTe-imagen2-mejoras{
                margin-top: 130px;
                margin-left: 50px;
                height: 200px;
                background-color: black;
                .contenedorTe-num-mejoras{
                    background-color: white;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-radius: 55%;
                    h1{
                        align-items: center;
                    }
                }
            }
        }
        .contenedorTe-columna2-mejoras{
            height: 100%;
            background-color: aqua;
            display: flex;
            justify-content: center;
            .contenedorTe-imagen3-mejoras{
                height: 400px;
                background-color: green;
                margin-top: 150px;
                .contenedorTe-num-mejoras{
                    background-color: white;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-radius: 55%;
                    h1{
                        align-items: center;
                    }
                }
            }   
        }
    }
}



/* mapa */

.contenedorTe-grande-mapa{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contenedorTe-mapa{
        height: 450px;
        width: 60%;
        display: flex;
        align-items: center;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .contenedorTe-text-mapa{
        width: 40%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;

        .titulo-mapa{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 50px;
        }
        .parrafo-mapa{
            color: black;
            

        }
    }

}

@media screen and (max-width: 1023px){
    .contenedorTe-imagen1-info1{
        height: 800px;
        display: flex;
        justify-content: center;
        .contenedorTe-info1{
            height: 500px;
            width: 80%;
            .contenedorTe-info1-p1{
                margin-top: 50px;
                color: black;
            }
        }
    }

    .contenedorTe-grande-tarjetas{
        height: 1600px;
        display: flex;
        flex-wrap: wrap;
        .tarjetaTe{
            height: 400px;
            width: 80%;
        }
    }

    .contenedorTe-grande-mapa{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        background-color: #ebe6e6;
        flex-wrap: wrap;
        .contenedorTe-mapa{
            width: 100%;
            margin-left: 0px;
        }
        .contenedorTe-text-mapa{
            margin-top: 20px;
            margin-left: 0px;
        }
    }
}