

*{
    margin: 0;
    padding: 0;
    
}

#margen{
    margin: 0;
    padding: 0;
}

.contFut-text-parrafo{
    background-color: white;
    height: 300px;
    /*margin-left: 15%;*/
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    border: solid 1px green;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    .contFut-balon1{
        height: 100%;
        width: 450px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contFut-parrafo1{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        margin-top: 20px;
        color: black;
    }
}

@media screen and (max-width: 1023px){
    .contFut-text-parrafo{
        margin: 0;
        height: 750px;
        display: flex;
        flex-direction: column;
        padding: 0;
        .contFut-balon1{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            height: 300px;
            width: 300px;
        }
    }
}

.contFut-padre-fila1-salud{
    background-image: url(../assets/imagenes/bombonera.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .contFut-fila1{
        background-color: white;
        height: 300px;
        border: solid 1px black;
        border-radius: 12px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
}



 