

*{
    margin: 0;
    padding: 0;
    
}

#margen{
    margin: 0;
    padding: 0;
}

#header{
    background-color: #f5e6d7;
    margin: 0;
    padding: 0;
}

.logoP{
    display: flex;
    align-items: center;
    img{
        width: 180px;
        height: 180px;
    }
}

.maslogos{
    @extend .logoP;
    justify-content: space-around;
    
    img{
        width: 40px;
        height: 40px;
    }
    .menu{
        width: 130px;
        height: 60px;
    }

    button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: solid black 1px;
        &:hover{
            background: linear-gradient(to right, #0e788d85, #19ffff98);
            border: solid #25645a 1px;
            transform: translate(1.1,1.1px);
        }

        p{
            font-size: 20px;
            margin: 4px 0px 6px 5px;
            color: black;
        }
    }
}

.padre{
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    .cuadrado-fondo{
        background-color: black;
        height: 300px;
        margin-top: 50px;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: rgb(120, 252, 252);
        }
        .contenedor-tarjeta{
            background-color: #f1eded;
            height: 100%;
            position: relative;
            right: 15px;
            bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .contenedor-imagen{
                background-color: red;
                height: 80%;
                border-radius: 80%;
            }
            .contenedor-parrafo{
                text-align: center;
                color: black;
                font-size: 18px;
                margin-left: 20px;

            }
        }
    }
}

.contenedor-tarjetas{
    background-color: #ebe6e6;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .tarjeta{
        border-radius: 15px;
        height: 500px;
        background-color: #262626;
        transition-duration: 1s;
        .contenedor-imagen{
            width: 100%;
            height: 200px;
            border-radius: 15px;
            background-image: url(../assets/imagenes/bombonera.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover{
            box-shadow: 5px 5px 10px black;
            border: solid 1px green;
        }
    }   
}

.contFut-grande-mapa{
    height: 500px;
    display: flex;
    justify-content: center;

    h1{
        font-size: 30px;
        color: black;
        display: flex;
        justify-content: center;
        
    }
    .linea{
        width: 70%;
        height: 3px;
        background-color: black;
        border-radius: 50px;
    }
    .contfut-mapa{
        height: 500px;
        display: flex;
        justify-content: center;
        iframe{
            width: 80%;
        }
    }
}

@media screen and (max-width: 1023px){
    .padre{
        height: 800px;
        .cuadrado-fondo{
            min-height: 700px;
            .contenedor-tarjeta{           
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .contenedor-parrafo{
                    margin-top: 20px;
                }
                .contenedor-imagen{
                    margin-top: 10px;
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    .tarjeta1{
        margin-top: 20px;
    }
    .tarjeta2{
        margin-top: 20px;
    }
    .tarjeta3{
        margin-top: 20px;
    }

}