@import "menu";
@import "tenis";


*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

#body{
    background: gray;
    overflow: hidden;
}

/*link a deportes1*/

.link{
    height: 700px;
    width: 100%;
    background-color: rgb(255, 0, 43);
}

#margen{
    margin: 0;
    padding: 0;
}

/*quienes somos*/

.cont-info1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #1f1f1f;
    text-align: center;
    h1{
        color: white;
        transition: transform 0.3s ease, text-shadow 0.3s ease;
        &:hover{
            transform: scale(1.1);
            text-shadow: 4px 4px 6px rgba(255, 221, 221, 0.7);
        }
    }
    p{
        padding: 0 10% 0 10%;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease, text-shadow 0.3s ease;
        &:hover{
            transform: scale(1.1);
            text-shadow: 4px 4px 6px rgba(255, 221, 221, 0.7);
        }
    }
}

$margenes:(
    1: -50px,
    2: 45px,
    3: -40px,
);



.cont-decoracion{
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @each $num, $margen in $margenes{
        .imagen#{$num}{
            height: 100px;
            width: 100px;
            margin: $margen 0px 0px 0px;
            transition: transform 0.5s ease;
            &:hover{
                transform: rotate(30deg);
            }
        }
    }
}



@media screen and (max-width: 1023px){
    .cont-info1{
        height: 300px;
        h1{
            margin-bottom: 20px;
        }
    }
}